@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.OnlineUser {
  flex: 0.7;
  margin: 10px 10px 8px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.OnlineUser .header {
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.OnlineUser .header img {
  height: 40px;
  width: 40px;
}
.OnlineUser .header h1 {
  font-size: 1.6rem;
  margin-left: 20px;
  display: flex;
  font-family: "Alegreya", serif;
  text-transform: capitalize;
  opacity: 0.8;
  align-items: flex-end;
}
.OnlineUser .searchBar {
  background-color: white;
  margin: 10px 0px 0px 0px;
  border-radius: 20px;
  padding: 5px 0px 0px 10px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.OnlineUser .searchBar input {
  flex: 0.8;
  border: none;
  outline: 0px;
  font-size: 1.2rem;
  margin-left: 10px;
}

/* .OnlineUser helper  */

.OnlineUser .OnlineUC {
  overflow: scroll;
  margin-top: 10px;
}
.OnlineUser .OnlineUC::-webkit-scrollbar {
  display: none;
}
.OnlineUserHelper {
  display: flex;
  background-color: white;
  padding: 5px 0px 4px 8px;
  margin: 0px 0px 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.OnlineUserHelper .Icon {
  font-size: 1.4rem;
  font-weight: bold;
  color: rgba(144, 169, 141);
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid rgba(144, 169, 141);
  box-sizing: border-box;
  text-transform: uppercase;
}
.OnlineUserHelper .Name {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  opacity: 0.9;
}

/* dark mode */
.darkOU {
  .header {
    background-color: var(--dark3) !important;
    color: var(--light1) !important;
  }
  .searchBar {
    background-color: var(--dark3) !important;
    .darkSI {
      color: var(--light1) !important;
    }
    input {
      background-color: var(--dark3) !important;
      color: var(--light1) !important;
    }
    input::placeholder {
      color: var(--light1) !important;
    }
  }
  .OnlineUserHelper {
    background-color: var(--dark3) !important;
    color: var(--light1) !important;
    .Icon {
      background-color: var(--dark1) !important;
      color: var(--light1) !important;
      border-color: var(--light1) !important;
    }
  }
}

@media screen and (max-width: 942px) {
  .OnlineUser {
    flex: 0.9;
    .searchBar {
      input {
        width: 100px;

      }
    }
  }
}
