@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
.Welcome{
    flex: 0.7;
    background-color: var(--light1);
    margin: 10px 10px 8px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-bottom: 5px solid #63d7b0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.Welcome  img{
    width: 300px;
    height: 300px;
}
.Welcome .text{
    font-family: 'Protest Riot', sans-serif;
    opacity: 0.8;
}

/* dark mode */
.darkWelcome{
  background-color: var(--dark3) !important;
  color: var(--light1) !important;
}